

<form id="formaSolicitudAdd" action="/reporteOIP/add" method="Post">
    <input type="hidden" name="ownerID" value="{{user['ownerID']}}">	
    <input type="hidden" name="inheritedID"  id="inheritedID"value="">
    <input type="hidden" name="viewName" value="{{viewName}}">
	<div class="detalleSolicitudItem" id="detalleSolicitudAdd">
		<table id="tablaaddDetalleSolicitud" border="0px" spacing=0 width="100%" cellpadding="0" cellspacing="0">
			{%- for campo in listaCamposFiltro -%}
                {%-set campoActual=campo.value-%}
                {%-set asesorSolicitud=user.name%}
                {%- if campo.addRenderable=="true" -%}
                    <tr>
                        {%- if campo.tipo=="textarea" -%}
                            <td colspan="3" class="boldSmallLabel">
                               {{campo.label}} 
                            </td></tr><tr>
                        {%-else-%}
                            <td class="boldSmallLabel" align="right">
                            {{campo.label}}
                        {%-endif-%}   
                     
                        {%- if campo.addToogle == 'false' -%}

                            {%- if campo.tipo!="textarea" -%} 
                                <td colspan="2" style="padding-right:16px; ">
                            {%- else -%} 
                                <td colspan="3"> 
                            {%-endif-%}  

                            
                        	<{{campo.tipo}} id="{{campo.value}}"  name="{{campo.value}}" class="{{campo.class}}" 

                            {%- if campo.inputType=="float" -%}
                                type="number"
                                step=".01"
                            {%- endif-%}
                            {%- if campo.inputType=="integer" -%}
                                type="number"
                            {%- endif-%}
                            {%- if campo.required=="true" -%}
                                required="true" 
                            {%- endif-%}

                            {%- if campo.tipo!="textarea" -%} 
                              style="width:100%;" 
                            {%-endif-%}  
                            {%- if campoActual=="asesorNombre"-%} 
                                value="{{user.name}}"
                                onchange="listaEmpresasUpdate(this,'add');"
                            {%- elif campoActual=="regionNombre"-%}
                                value="{{user.region}}"    
                            {%- else -%}
                            {%- if campo.tipo!="textarea" -%} 
                                value=""
                            {%- endif -%} 
                            {%- endif -%}    
                            {%- if campo.readOnly=="true" -%}
                                readonly
                            {%- endif -%}
                            >{%- if campo.tipo=="select"-%}
                                    {%- if campoActual=="asesorNombre"-%}
                                        {%-if user.scope=="all"-%}
                                                    <option></option>
                                            {%-for asignacion in listaEmpresas|sort(attribute='asesor') -%}
                                                    
                                                    <option value="{{asignacion.asesor}}"
                                                            ownerid="{{asignacion.ownerID}}" 
                                                        {%-if asignacion.asesor==user.name-%} 
                                                           selected="selected"
                                                        {%-endif-%} 
                                                    >{{asignacion.asesor}}</option>
                                            {%-endfor-%} 
                                        {%-elif user.scope=="self"-%}
                                                    <option value="{{user.name}}" 
                                                    ownerid="{{user.ownerID}}"
                                                    selected>{{user.name}}</option>
                                            
                                        {%-endif-%}    
                                    {%- elif campoActual=="clienteEmpresa" -%}
                                        <!-- estoy en cliente empresa -->
                                        {%- for asignacion in listaEmpresas -%} 
                                           {%- if asignacion.asesor==user.name -%}
                                                {%- for empresa in asignacion.empresas|sort() -%}
                                                    <option value="{{empresa}}">{{empresa}}
                                                    </option>  
                                                {%- endfor-%}

                                           {%-endif-%}
                                        {%-endfor-%}


                                    {%-else-%}
                                        {# PARA TODOS LOS DEMAS CAMPOS QUE TRAEN SU optionsList #}

                                        {%- for option in campo.optionsList-%}
                                            <option value="{{option}}">{{option}}</option>
                                        {%- endfor -%}
                                    {%-endif-%} {# Finaliza if de campoActual #}

                                {%- endif-%} {# Finaliza if "select" #}</{{campo.tipo}}>
                            </td>
                        {%- elif campo.addToogle == 'true' -%}
                            <td>
                                <{{campo.tipo}} id="{{campo.value}}" name="{{campo.value}}" class="{{campo.class}}" readonly></{{campo.tipo}}>
                            </td>
                            <td align="right" style="padding-right: 6px; width: 54px;">
                                <label class="switch">
                                    <input type="checkbox" id="check_{{campo.value}}" name="check_{{campo.value}}" > 
                                    <span class="slider round"></span> 
                                </label>
                            </td>
                        {%- endif -%}
                    </tr>
                {%- endif -%}
           {%- endfor -%}
           <tr>
               <td colspan=3 valign="middle" align="center">
                   <button type="submit" class="buttonSubmit" >Guardar</button> 
               </td>
           </tr>

		</table> {# FINALIZA <table border="0" id="tablaDetalleSolicitud"> #} 
			
			
	</div> <!-- FINALIZA <div class="detalleSolicitudItem"> -->
</form>	
