{%- extends "base.html" -%}
{%- block content -%}
            <div class="panel">
                <div class="botonera">
                    <table border="0px" spacing=0 width="100%" cellpadding="0" cellspacing="0">

                        <tr>
                        <td width="40%" align="center">Criterio</td>
                        <td ></td>
                        <td width="40%" align="center">Valor</td>
                        </tr>
                        <tr>
                            <td width="33%" align="center">
                                <select class="roundInput" id="filtroCriterio" name="filtroCriterio" onchange="limpiarFiltroSolicitudes();">
                                    {%- for campo in listaCamposFiltro|sort(attribute='label') -%}
                                        {%- if campo.filterOption=="true" and campo.analisisRenderable=="true"-%}
                                            <option value="{{campo.value}}">{{campo.label}}</option>
                                        {%-endif-%}
                                        {%- if campo.filterOption=="true" and campo.onlyFilter=="true"-%}
                                         <option value="{{campo.value}}">{{campo.label}}</option>
                                        {%-endif-%}
                                    {%- endfor -%}
                                </select>
                            </td>
                            <td></td>
                            <td width="33%" align="center">
                                <input class="roundInput" id="filtroValor" name="filtroValor" onchange="filtrarSolicitudes(solicitudes,'filtroCriterio',this.value);"></input>
                            </td>
                        </tr>
                        {%- if viewName=="Solicitudes" -%}
                        <tr>
                            <td colspan="3" align="center">
                                <div class="addButton" id="addSolicitudButton" name="addSolicitudButton" onclick="agregarSolicitud(this);
                                       element=document.getElementById('fechaContacto');
                                       element.value=formatDate();"
                                collapsed="true">
                                </div>
                            </td>
                        </tr>
                        {%- endif -%}

                    </table>
                </div>


                <!--********************************************************-->

                <div class="listadoItems" id="listadoSolicitudes" name="listadoSolicitudes">
                    {% include 'addSolicitudes.html' %}
                    {%- for solicitud in listaSolicitudes %}
                        <form id="formaSolicitud_{{solicitud.id}}">

                            <div class="solicitudItem" id={{solicitud.id}} onclick="expandirSolicitud(this);" collapsed="true">
                                <table border="0px" spacing=0 width="100%" cellpadding="0" cellspacing="0" style="table-layout:fixed;">
                                    <tr>
                                        <td class="boldLabel"
                                            colspan="1"
                                            align="center"
                                            style="border-bottom: solid 1px;"
                                            width="16px">{{loop.index}}
                                        </td>
                                        <td class="boldLabel"
                                            colspan="3"
                                            align="center" id="render_nombreCompletoCliente_{{solicitud.id}}">
                                                 {{solicitud.id}}
                                            &nbsp{{solicitud.clienteNombre}}
                                            &nbsp{{solicitud.clienteApellidoPaterno}}
                                            &nbsp{{solicitud.clienteApellidoMaterno}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="lightLabel"
                                            colspan="4"
                                            align="center"
                                            id="render_clienteEmpresa_{{solicitud.id}}">{{solicitud.clienteEmpresa}}</td>
                                    </tr>
                                    <tr>
                                        <td class="boldSmallLabel"
                                            colspan="2"
                                            align="center">Asesor</td>
                                        <td class="boldSmallLabel"
                                            align="center">Contactado</td>
                                        <td class="boldSmallLabel"
                                            align="center">Monto</td>
                                    </tr>
                                    <tr>
                                        <td class="lightLabel"
                                            colspan="2"
                                            align="center"
                                            id="render_asesorNombre_{{solicitud.id}}">{{solicitud.asesorNombre}}</td>
                                        <td class="lightLabel"
                                            align="center"
                                            id="render_fechaContacto_{{solicitud.id}}">{{solicitud.fechaContacto}}</td>
                                        <td class="lightLabel"
                                            align="center"
                                            id="render_montoSolicitado_{{solicitud.id}}">
                                            {{solicitud.montoSolicitado}}</td>
                                    </tr>
                                    <tr>
                                        <td class="boldSmallLabel" colspan="2"
                                            align="center">Estatus</td>
                                        <td class="boldSmallLabel" colspan="2"
                                            align="center">Crédito Final</td>
                                    </tr>
                                    <tr>
                                        <td class="lightLabel" colspan="2"
                                            align="center"
                                            id="render_solicitudEstatus_{{solicitud.id}}">{{solicitud.solicitudEstatus}}</td>
                                         <td class="lightLabel"
                                            align="center"
                                            id="render_solicitudNumeroControl_{{solicitud.id}}">
                                            {%if solicitud.solicitudNumeroControl|replace(" ","") != "" %}
                                                {{solicitud.solicitudNumeroControl}}
                                            {%endif%}
                                            {%if solicitud.solicitudNumeroControl|replace(" ","") == "" %}
                                                   {{solicitud.producto}}
                                            {%endif%}</td>
                                        <td class="lightLabel"
                                            align="center"
                                            id="render_montoAutorizado_{{solicitud.id}}">
                                             {{solicitud.montoAutorizado}}</td>
                                    </tr>
                                </table>
                            </div> <!-- FINALIZA <div class="solicitudItem"> -->

                            <!--********************************************************-->

                            <div class="detalleSolicitudItem" id="detalleSolicitud_{{solicitud.id}}">
                                <input type="hidden" name="id" value="{{solicitud.id}}">
                                <input type="hidden" name="lastUpdatedmenuAnalisisCreditos" value="{{solicitud.id}}">
                                <input type="hidden" name="ownerID" value="{{user['ownerID']}}">
                                <input type="hidden" name="viewName" value="{{viewName}}">
                                <input type="hidden" name="userName" value="{{user['name']}}">
                                    <table id="tablaDetalleSolicitud_{{solicitud.id}}" border="0px" spacing=0 width="100%" cellpadding="0" cellspacing="0">
                                        {# {{listaCamposFiltro|pprint}} #}
                                        {%- for campo in listaCamposFiltro -%}
                                            {%-set campoActual=campo.value-%}
                                            {%-set asesorSolicitud=solicitud.asesorNombre-%}
                                            {%-set empresaSolicitud=solicitud.clienteEmpresa-%}
                                            {%- if campo.analisisRenderable=="true" and campo.value!="accionRealizarAnalisis" -%}
                                                <tr>


                                                    {%- if campo.tipo=="textarea" -%}
                                                        <td colspan="3" class="boldSmallLabel">
                                                           {{campo.label}}
                                                        </td></tr><tr>
                                                    {%-elif campo.tipo=="divLabel"-%}
                                                        <td colspan="3"
                                                            class="roundDivLabel"
                                                            align="left">
                                                           {{campo.label}}
                                                        </td></tr><tr>

                                                    {%-else-%}
                                                        <td class="boldSmallLabel" class="boldSmallLabel" align="right">
                                                        {{campo.label}}
                                                    {%-endif-%}

                                                    {%- if campo.addToogle == 'false' -%}


                                                        {%- if campo.tipo!="textarea" -%}
                                                            <td colspan="2" style="padding-right:16px; ">
                                                        {%- else -%}
                                                            <td colspan="3">
                                                        {%-endif-%}



                                                            <{{campo.tipo}} id="{{campo.value}}_{{solicitud.id}}"  name="{{campo.value}}"
                                                            class="{{campo.class}}"
                                                            {%- if campoActual == "listaArchivos"-%}
                                                                size="{{campo.size}}"
                                                            {%- endif -%}

                                                            {%- if campoActual == "solicitudAvanceCreditoAnterior"-%}
                                                                {%- if campoActual in solicitud -%}
                                                                    {%- if solicitud[campoActual]|int <50-%}
                                                                        style="color:#FF0000; width:100%;"
                                                                    {%- endif -%}
                                                                {%- endif -%}
                                                            {%- endif -%}

                                                            {%- if campoActual == "solicitudIncrementoSaldoActual"-%}
                                                                {%- if campoActual in solicitud -%}
                                                                    {%- if solicitud[campoActual]|int <170-%}
                                                                        style="color:#FF0000; width:100%;"
                                                                    {%- endif -%}
                                                                {%-endif-%}
                                                            {%- endif -%}

                                                            {%- if campo.tipo == "input" -%}
                                                                value="{{solicitud[campoActual]}}"
                                                            {%- endif -%}

                                                            {%- if campo.tipo == "input  type=date" -%}
                                                                value="{{solicitud[campoActual]}}"
                                                            {%- endif -%}



                                                            {%- if campo.tipo!="textarea" -%}
                                                                style="width:100%;"
                                                            {%- endif -%}

                                                            {%- if campoActual in user.forbidden or campoActual in solicitud.forbidden-%}
                                                                disabled="true"
                                                            {%- endif-%}


                                                            {# {%- if campoActual=="asesorNombre"-%} onchange="listaEmpresasUpdate(this,{{solicitud.id}});"{%-endif-%} #}
                                                            {# {%- if campoActual=="inheritedID"-%} onchange="listaEmpresasUpdate(this,{{solicitud.id}});"{%-endif-%} #}


                                                            {%- if campoActual=="listaArchivos"-%}
                                                                  onchange="mostrarArchivo(this,{{solicitud.id}});"
                                                            {%- else -%}
                                                                {%- if campo.editRenderable=="true" -%}
                                                                    onchange="updateData(this,{{solicitud.id}});"
                                                                {%- endif -%}
                                                            {%- endif -%}


                                                            {%-if campo.readOnly=="true"-%}
                                                                 readonly="true"
                                                            {%- endif -%}

                                                            >
                                                                {%- if campo.tipo=="textarea" -%}
                                                                    {{solicitud[campoActual]}}
                                                                {%- endif -%}

                                                                {%- if campo.tipo=="select"-%}
                                                                     {%- if campoActual=="asesorNombre"-%}
                                                                        {%-for asignacion in listaEmpresas|sort(attribute='asesor') -%}

                                                                                <option value="{{asignacion.asesor}}"
                                                                                ownerid="{{asignacion.ownerID}}"
                                                                                    {%-if asignacion.asesor==asesorSolicitud-%}
                                                                                       selected="selected"
                                                                                    {%-endif-%}
                                                                                >{{asignacion.asesor}}</option>

                                                                        {%-endfor-%}

                                                                    {%- elif campoActual=="inheritedID" -%}
                                                                        {%- for user in listaUsuarios -%}
                                                                            {%-if user.userEstatus== "Activo"-%}
                                                                                {%- if user.acl=="asesor" -%}
                                                                                    <option value="{{user.ownerID}}"
                                                                                            asesorNombre="{{user.name}}"
                                                                                            {%-if user.ownerID == solicitud.inheritedID-%}
                                                                                                selected="selected"
                                                                                            {%- endif -%}}
                                                                                    >{{user.name}}</option>
                                                                                {%- endif -%}
                                                                            {%-endif-%}

                                                                            {%-if user.userEstatus== "Baja"-%}
                                                                                {%-if user.ownerID == solicitud.ownerID-%}
                                                                                    <option value="{{user.ownerID}}"
                                                                                                {%-if user.ownerID == solicitud.inheritedID-%}
                                                                                                    selected="selected"
                                                                                                {%- endif -%}}
                                                                                    >{{user.name}}</option>

                                                                                {%-endif-%}
                                                                            {%-endif-%}
                                                                        {%-endfor-%}

                                                                    {%- elif campoActual=="ownerID" -%}
                                                                        {%- for user in listaUsuarios -%}
                                                                            {%-if user.userEstatus== "Activo"-%}
                                                                                    <option value="{{user.ownerID}}"
                                                                                            {%-if user.ownerID == solicitud.ownerID-%}
                                                                                                selected="selected"
                                                                                            {%- endif -%}}
                                                                                    >{{user.name}}</option>
                                                                            {%-endif-%}

                                                                            {%-if user.userEstatus== "Baja"-%}
                                                                                {%-if user.ownerID == solicitud.ownerID-%}
                                                                                    <option value="{{user.ownerID}}"
                                                                                                {%-if user.ownerID == solicitud.ownerID-%}
                                                                                                    selected="selected"
                                                                                                {%- endif -%}}
                                                                                    >{{user.name}}</option>

                                                                                {%-endif-%}
                                                                            {%-endif-%}
                                                                        {%-endfor-%}
                                                                    {%- elif campoActual=="clienteEmpresa" -%}
                                                                        asesorSolicitud:{{asesorSolicitud}}
                                                                        {%- for asignacion in listaEmpresas -%}
                                                                           {%- if asignacion.asesor==asesorSolicitud -%}
                                                                                {%- for empresa in asignacion.empresas|sort() -%}
                                                                                    <option value="{{empresa}}"
                                                                                        {%-if empresa==empresaSolicitud-%}
                                                                                            selected="selected"
                                                                                        {%-endif-%}
                                                                                    >{{empresa}}
                                                                                    </option>
                                                                                {%- endfor-%}

                                                                           {%-endif-%}
                                                                        {%-endfor-%}

                                                                    {%- elif (campoActual=="clientePagadora") -%}
                                                                        <option value=""></option>
                                                                    {%- for pagadora in pagadoras|sort() -%}
                                                                        <option value="{{pagadora}}"
                                                                            {%-if pagadora==solicitud.clientePagadora-%}
                                                                                selected="selected"
                                                                            {%-endif-%}
                                                                        >{{pagadora}}
                                                                        </option>


                                                                    {%-endfor-%}

                                                                    {%- elif (campoActual=="listaArchivos") -%}

                                                                        <!-- en lista archivos -->
                                                                        {%- for documento in solicitud.documentosLista -%}
                                                                            <option value="{{documento}}">
                                                                                {{documento}}
                                                                            </option>
                                                                        {%- endfor -%}

                                                                    {%-else-%}
                                                                        {# PARA TODOS LOS DEMAS CAMPOS QUE TRAEN SU optionsList #}

                                                                        {%- for option in campo.optionsList-%}
                                                                            <option value="{{option}}"
                                                                                {%-if option == solicitud[campo.value]-%}
                                                                                 selected
                                                                                {%- endif-%}
                                                                            >{{option}}</option>
                                                                        {%- endfor -%}
                                                                    {%-endif-%} {# Finaliza if de campoActual #}

                                                                {%- endif-%} {# Finaliza if "select" #}

                                                            </{{campo.tipo}}>
                                                        </td>

                                                    {%- elif campo.addToogle == 'true' -%}
                                                        <td>
                                                            <{{campo.tipo}} id="{{campo.value}}_{{solicitud.id}}" name="{{campo.value}}" class="{{campo.class}}" readonly value="{{solicitud[campoActual]}}"
                                                            ></{{campo.tipo}}>
                                                        </td>
                                                        <td class="boldSmallLabel" align="right" style="padding-right: 6px; width: 54px;">
                                                            <label class="switch" {%- if campo.value in user.forbidden or campoActual in solicitud.forbidden -%}
                                                                    style="display:none;"
                                                            {%-endif-%}>
                                                                <input type="checkbox" id="check_{{campo.value}}_{{solicitud.id}}" name="check_{{campo.value}}_{{solicitud.id}}"
                                                                onchange="updateDate({{solicitud.id}},{{campo.value}}_{{solicitud.id}},this);"
                                                                {%-if (solicitud[campoActual]!="") and (solicitud[campoActual] is defined)-%}
                                                                    checked
                                                                {%-endif-%}
                                                                >
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </td>
                                                    {%- endif -%}
                                                </tr>
                                            {%- endif -%}
                                                {%-if campo.value=="documentos"-%}
                                                    {%- if solicitud[campoActual]!=""-%}
                                                        <td colspan="3" class="boldSmallLabel" align="center">
                                                            <input type="button" name="documentos_{{solicitud.id}}"
                                                            onclick="openWindow('{{solicitud[campoActual]}}');"
                                                            value="Ver Documentos">
                                                        </td>
                                                    {%-endif-%}
                                                {%-endif-%}
                                            {%-if campoActual=="accionRealizarAnalisis"-%}
                                                {%- if campoActual not in user.forbidden -%}
                                                    <td colspan="3" class="boldSmallLabel" align="center">

                                                        <input type="submit"
                                                               name="accion"
                                                               id="accion"
                                                               value="Realizar Analisis">
                                                    </td>
                                                </tr><tr>
                                                {%-endif-%}
                                            {%-endif-%}
                                       {%- endfor -%}

                                    </table>{# FINALIZA <table border="0" id="tablaDetalleSolicitud"> #}

                                    <!-- INICIA TABLA PARA SIMULADOR SIAC -->
                                    {%- include 'simuladorSIAC.html' -%}


                            </div> <!-- FINALIZA <div class="detalleSolicitudItem"> -->


                             <!--********************************************************-->




                        </form>



                    {%- endfor -%}
                    {# <div class="solicitudItem" id="espacioFinal"></div> #}
                </div>
            </div>  <!--Finaliza panel de Solicitudes-->



{%- endblock -%}




