
{%- extends "base.html" -%}
{%- block content -%}

    <div class="panelPipeLine" id="panelPipeLine" style="height:100%; width:calc(100vw - 16px)">
        <div class="botoneraLarga">
            <form id="pipeLineForm" action="/cumplimiento" method="Post">
                    <input type="hidden" name="ownerID" value="{{user['ownerID']}}">
                    <input type="hidden" name="inheritedID"  id="inheritedID"value="">
                    <input type="hidden" name="viewName" value="{{viewName}}">
                <table border="0px" spacing=0 width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                    <td align="center">Desde:</td>
                    <td ></td>
                    <td align="center">Hasta:</td>
                    <td ></td>
                    <td align="center"><!-- Fecha de Referencia: --></td>
                    <td ></td>
                    <td align="center"><!-- Producto: --></td>
                    <td ></td>
                    <td align="center">Frecuencia:</td>
                    <td ></td>
                    <td align="center" rowspan="2">
                        <input type="submit" value="Excepciones a Políticas" name="accion" id="accion">
                        <input type="submit" value="Expedientes Faltantes" name="accion" id="accion">
                        <input type="button" value="IMPRIMIR" onclick="printElem('listadoPipeLine');">
                    </td>

                    <td ></td>
                    <td align="center" rowspan="2">
                        <!-- <button style="display:block;" onclick="document.getElementById('archivoColocacion').click()">Seleccionar "colocacion.csv"</button>
                        <input type="file" id="archivoColocacion" name="archivoColocacion" style="display:none;"> -->

                    </td>

                    <td align="center" rowspan="2">
                        <!-- <input type="submit" value="Subir Colocacion.csv" name="accion" id="accion"> -->
                    </td>
                    <td align="center" rowspan="2">
                        <!-- <input type="button" value="Ver Solicitudes" onClick="mostrarVisorSolicitudes(this);"> -->
                    </td>
                    <td align="center" rowspan="2">
                        <!-- <input type="button" value="IMPRIMIR" onclick="printElem('listadoPipeLine');"> -->
                    </td>
                    </tr>
                    <tr>
                        <td  align="center">
                             <input type="date" class="roundInput" id="fechaInicio" name="fechaInicio" min="2019-01-02"
                             value="{{formData['fechaInicio']}}"></input>
                        </td>
                        <td></td>
                        <td  align="center">
                            <input type="date" class="roundInput" id="fechaFin" name="fechaFin" min="2019-01-02" value="{{formData['fechaFin']}}"></input>
                        </td>
                        <td></td>
                        <td  align="center">
                             <!-- <input type="date" class="roundInput" id="fecha" name="fecha"
                             min="2019-01-02" value="{{formData['fecha']}}"></input> -->
                        </td>
                        <td></td>
                        <td  align="center">
                           <!--  <select class="roundInput" id="producto" name="producto">
                                <option value=""></option>
                                <option value="Adelanto de Nómina"
                                    {%- if formData['producto']=="Adelanto de Nómina" -%}
                                     selected="true"
                                    {%- endif-%}
                                >Adelanto de Nómina</option>
                                <option value="Nómina"
                                {%- if formData['producto']=="Nómina" -%}
                                     selected="true"
                                    {%- endif-%}>Nómina</option>
                                <option value="Vehículo"
                                {%- if formData['producto']=="Vehículo" -%}
                                     selected="true"
                                    {%- endif-%}>Vehículo</option>
                                <option value="Seguro"
                                {%- if formData['producto']=="Seguro" -%}
                                     selected="true"
                                    {%- endif-%}>Seguro</option>
                                <option value="Seguro Independiente"
                                {%- if formData['producto']=="Seguro Independiente" -%}
                                     selected="true"
                                    {%- endif-%}>Seguro Independiente</option>
                            </select> -->
                        </td>
                        <td></td>
                        <td  align="center">
                            <select class="roundInput" id="frecuenia" name="frecuencia">
                                <option value="1"
                                {%- if formData['frecuencia']=="1" -%}
                                     selected="true"
                                    {%- endif-%}>Diaria</option>
                                <option value="2"
                                {%- if formData['frecuencia']=="2" -%}
                                     selected="true"
                                    {%- endif-%}>Mensual</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </form>
        </div>



        {%- if accion=="Expedientes Faltantes"-%}
        <div class="listadoPipeLine" id="listadoPipeLine">
            <table border="1"  cellspacing="0" cellpadding="0" width="98%">
                 <th colspan="10"
                    style="background: white;
                           color:black;">EXPEDIENTES FALTANTES DESDE EL  {{formData.fechaInicio}} AL {{formData.fechaFin}}</th>
                <th colspan="3"
                    style="background: white;
                           color:black;">Fecha de Emisión: {{formData.fechaReporte}}</th>
            </table>
            <table border="1"  cellspacing="0" cellpadding="0" width="98%">
                <th colspan="5"
                    style="background: black;
                           color:white;">RESUMEN DE ENTREGA SEMANAL</th>
            </table>
            <table border="1" cellspacing="0" width="98%">
                <td style="background: lightblue;"
                    rowspan="2"
                    align="center">Entregados la</td>
                    {%- for producto in series -%}
                        {%-if producto != "Seguro" and producto!="Total"-%}
                            <th style="background: lightblue;" colspan={{anios|length}} width="40%">{{producto}}</th>
                        {%- endif -%}
                    {%- endfor-%}

                 <tr/>
                    {%- for producto in series -%}
                        {%-if producto != "Seguro" and producto!="Total"-%}
                        {%- for anio in anios -%}
                            <th style="background: lightblue;" colspan="1">{{anio}}</th>
                        {%- endfor-%}
                        {%- endif -%}
                    {%- endfor-%}
                <tr/>
                <td>SEMANA PASADA</td>
                    {%- for producto in series -%}
                        {%-if producto != "Seguro" and producto!="Total"-%}
                            {%- for anio in anios -%}
                                {%-if anio|string in resumenEntregados["semanaAnterior"]-%}
                                <td colspan="1" align="center">{{resumenEntregados["semanaAnterior"][anio|string][producto]}}</td>
                                {%-else-%}
                                <td colspan="1" align="center">0</td>
                                {%-endif-%}
                            {%- endfor-%}
                        {%- endif -%}
                    {%- endfor-%}
                <tr/>
                <td>SEMANA ACTUAL</td>
                     {%- for producto in series -%}
                        {%-if producto != "Seguro" and producto!="Total"-%}
                            {%- for anio in anios -%}
                                {%-if anio|string in resumenEntregados["semanaActual"]-%}
                                    <td colspan="1" align="center">
                                        {{resumenEntregados["semanaActual"][anio|string][producto]}}
                                    </td>
                                {%-else-%}
                                <td colspan="1" align="center">0</td>
                                {%-endif-%}
                            {%- endfor-%}
                        {%- endif -%}
                    {%- endfor-%}
            </table>

            <br/>
            <table border="1"  cellspacing="0" cellpadding="0" width="98%">
                <th colspan="7"
                    style="background: black;
                           color:white;">RESUMEN POR PRODUCTO</th>
                <tr/>
                <th rowspan="2"
                    style="background: lightblue;">AÑO</th>
                    {%- for producto in series -%}
                        {%-if producto != "Seguro" and producto!="Total"-%}
                            <th style="background: lightblue;" colspan="3" width="50%">{{producto}}</th>
                        {%- endif -%}
                    {%- endfor-%}
                    <tr/>

                    {%- for producto in series -%}
                        {%-if producto != "Seguro" and producto!="Total"-%}
                            <th style="background: lightblue;">FONDEADOS</th>
                            <th style="background: lightblue;">RECHAZADOS</th>
                            <th style="background: lightblue;">TOTAL</th>
                        {%- endif -%}
                    {%- endfor-%}

                <tr/>

                {%- for anio in anios -%}

                <td align="right">{{anio}}</td>

                    {%- for producto in series -%}
                        {%-if producto != "Seguro" and producto!="Total"-%}

                            {%- if anio|string in resumenProducto -%}
                                {%- if producto in resumenProducto[anio|string]-%}
                                    <td align="center">{{resumenProducto[anio|string][producto]['fondeados']}}</td>
                                    <td align="center">{{resumenProducto[anio|string][producto]['rechazados']}}</td>
                                    <td align="center">{{resumenProducto[anio|string][producto]['total']}}</td>
                                    {%- else -%}
                                        <td align="center">0</td>
                                        <td align="center">0</td>
                                        <td align="center">0</td>
                                {%-endif-%}
                            {%- else -%}
                                <td align="center">0</td>
                                <td align="center">0</td>
                                <td align="center">0</td>
                            {%- endif -%}

                        {%- endif -%}
                    {%- endfor -%}

                <tr/>
                {%- endfor -%}

                <td align="right" style="background:steelblue; color:white;" >Total</td>
                {%- for producto in series -%}
                    {%-if producto != "Seguro" and producto!="Total"-%}
                        {%-if 'total' in resumenProducto-%}
                            {%- if producto in resumenProducto['total']-%}
                                <td align="center"
                                    style="background:steelblue; color:white;">{{resumenProducto['total'][producto]["fondeados"]}}</td>
                                <td align="center"
                                    style="background:steelblue; color:white;">{{resumenProducto['total'][producto]["rechazados"]}}</td>
                                <td align="center"
                                    style="background:steelblue; color:white;">{{resumenProducto['total'][producto]["total"]}}</td>
                                {%- else -%}
                                    <td align="center"
                                        style="background:steelblue; color:white;">0</td>
                                    <td align="center"
                                        style="background:steelblue; color:white;">0</td>
                                    <td align="center"
                                        style="background:steelblue; color:white;">0</td>
                            {%- endif -%}
                        {%- else -%}
                            <td align="center">0</td>
                            <td align="center">0</td>
                            <td align="center">0</td>
                        {%- endif -%}
                    {%- endif -%}
                {%- endfor -%}


            </table>
            <br>


            <table border="1"  cellspacing="0" cellpadding="0" width="98%">
                <th colspan= {{ ((anios|length)*3) * (productos|length-1) +1}}
                    style="background: black;
                           color:white;">RESUMEN POR ASESOR / PRODUCTO</th>
                <tr/>

                <th rowspan="3" style="background: lightblue;">ASESOR</th>
                {%- for producto in series -%}
                    {%-if producto!="Total" -%}
                        {%-if producto!="Seguro" -%}
                            <th align="center"
                                colspan={{ ((anios|length)*3)}}
                                style="background: lightblue;"
                                width="40%"> {{producto}}</th>

                        {%- endif -%}
                    {%-endif-%}
                {%- endfor -%}

                <tr/>
                {%- for producto in series -%}
                    {%-if producto!="Total" -%}
                        {%-if producto!="Seguro" -%}
                            {%- for anio in anios -%}
                            <th align="center" colspan="3" style="background: lightblue;"> {{anio}}</th>
                            {%- endfor -%}
                        {%- endif -%}
                    {%-endif-%}
                {%- endfor -%}
                <tr/>


                {%- for producto in series -%}
                    {%-if producto!="Total" and producto!="Seguro" -%}
                        {%- for anio in anios -%}
                                <th colspan="1" style="background: lightblue; font-size: 12px;">Fondeeados</th>
                                <th colspan="1" style="background: lightblue; font-size: 12px;">Rechazados</th>
                                <th colspan="1" style="background: lightblue; font-size: 12px;">Total</th>
                            {%- endfor -%}
                    {%- endif -%}
                {%-  endfor -%}

                <tr/>

                {%- for asesor in listaAsesores-%}
                    <td align="right">{{asesor}}</td>
                    {%- for producto in series -%}
                        {%-if producto!="Total" and producto!="Seguro"-%}
                            {%- for anio in anios -%}
                                    {%- if asesor in resumenAsesor-%}
                                        {%- if producto in resumenAsesor[asesor]-%}
                                            {%- if anio|string in resumenAsesor[asesor][producto]-%}
                                                <td align="center">
                                                {{resumenAsesor[asesor][producto][anio|string]['fondeados']}}
                                                </td>
                                                 <td align="center">
                                                {{resumenAsesor[asesor][producto][anio|string]['rechazados']}}
                                                </td>
                                                 <td align="center">
                                                {{resumenAsesor[asesor][producto][anio|string]['total']}}
                                                </td>
                                            {%-else-%}
                                                <td align="center">0</td>
                                                <td align="center">0</td>
                                                <td align="center">0</td>
                                            {%-endif-%}
                                        {%-else-%}
                                            <td align="center">0</td>
                                            <td align="center">0</td>
                                            <td align="center">0</td>
                                        {%-endif-%}
                                    {%-endif-%}
                            {%- endfor -%}
                        {%-endif-%}
                    {%- endfor -%}



                    <tr/>
                {%- endfor -%}


                <td align="right" style="background:steelblue; color:white;">Total</td>
                {%- for producto in series -%}
                        {%-if  producto!="Total" and producto!="Seguro"-%}
                            {%- for anio in anios -%}
                                    {%- if producto in resumenAsesor['total']-%}
                                        {%- if anio|string in resumenAsesor['total'][producto]-%}
                                            <td align="center"
                                            style="background:steelblue; color:white;">
                                            {{resumenAsesor['total'][producto][anio|string]['fondeados']}}
                                            </td>
                                             <td align="center"
                                             style="background:steelblue; color:white;">
                                            {{resumenAsesor['total'][producto][anio|string]['rechazados']}}
                                            </td>
                                             <td align="center"
                                             style="background:steelblue; color:white;">
                                            {{resumenAsesor['total'][producto][anio|string]['total']}}
                                            </td>
                                        {%-else-%}
                                            <td align="center"
                                            style="background:steelblue; color:white;">0</td>
                                            <td align="center"
                                            style="background:steelblue; color:white;">0</td>
                                            <td align="center"
                                            style="background:steelblue; color:white;">0</td>
                                        {%-endif-%}
                                    {%-else-%}
                                        <td align="center"
                                        style="background:steelblue; color:white;">0</td>
                                        <td align="center"
                                        style="background:steelblue; color:white;">0</td>
                                        <td align="center"
                                        style="background:steelblue; color:white;">0</td>
                                    {%-endif-%}


                            {%- endfor -%}
                        {%-endif-%}
                {%- endfor -%}
            </table>


            <br>
            <table border="1"  cellspacing="0" cellpadding="0" width="98%">
                <th colspan="10"
                    align="center"
                    style="background: black;
                           color:white;">DETALLE POR CLIENTE</th>
                <tr/>
                {%- for asesor in listaAsesores  -%}
                    <th colspan="10"
                        align="left"
                        style="background: navy;
                               color: white;
                    ">{{asesor}}</th>
                    <tr/>
                    <th style="background:lightblue; font-size: 12px;">#</th>
                    <th style="background:lightblue; font-size: 12px;">PRODUCTO</th>
                    <th style="background:lightblue; font-size: 12px;">CONTRATO <br/> IMPRESO</th>
                    <th style="background:lightblue; font-size: 12px;">NUM <br/> CONTROL</th>
                    <th style="background:lightblue; font-size: 12px;">CLIENTE</th>
                    <th style="background:lightblue; font-size: 12px;">EMPRESA</th>
                    <th style="background:lightblue; font-size: 12px;">MONTO <br/> AUTORIZADO</th>
                    <th style="background:lightblue; font-size: 12px;">EXPEDIENTE <br/> FALTANTE</th>
                    <th style="background:lightblue; font-size: 12px;">EXIGIBLE</th>
                    <th style="background:lightblue; font-size: 12px;">ESTATUS</th>
                    <tr/>
                    {%-for producto in productos-%}
                    {%- set contadorExpedientesFaltantes= namespace(value=0) -%}
                    {%- set contadorExcepciones= namespace(value=0) -%}
                        {%- if producto != "Seguro" -%}

                            {%- for solicitud in series[producto][asesor]["solicitudes"] -%}
                                <td>{{loop.index}}</td>
                                <td style="font-size:13px;">{{solicitud["PRODUCTO"].replace("Adelanto de Nómina","Adelanto")}}</td>
                                <td>{{solicitud["FECHA CONTRATO IMPRESO"]}}</td>
                                <td>{{solicitud["NUM CONTROL"]}}</td>
                                <td>{{solicitud["CLIENTE"]}}</td>
                                 <td>{{solicitud["EMPRESA"]}}</td>
                                <td align="right">{{"${:,.2f}".format(solicitud["MONTO AUTORIZADO"]|float)}}</td>
                                {%- if producto != "Seguro"-%}
                                    <td align="center">
                                        {%- if solicitud["expedienteResguardoStatus"]=="Comercial" -%}
                                        {%- set contadorExpedientesFaltantes.value= contadorExpedientesFaltantes.value + 1 -%}
                                        Sí
                                        {%- else -%}
                                        No
                                        {%- endif -%}
                                    </td>

                                    <td align="center">
                                        {{ solicitud["expedienteExigible"] }}
                                    </td>

                                    <td>
                                        {{ solicitud["ESTATUS"] }}
                                    </td>

                                {%- endif -%}

                                <tr/>
                            {%- endfor -%}


                            <td colspan="5"
                                align="right"
                                style="background: steelblue;
                                       color:white;"></td>

                            <td colspan="1"
                                align="right"
                                style="background: steelblue;
                                       color:white;"></td>

                            <td colspan="1"
                                align="center"
                                style="background: steelblue;
                                       color:white;"></td>
                            <td colspan="1"
                                align="center"
                                style="background: steelblue;
                                       color:white;"></td>
                            <td colspan="1"
                                align="right"
                                style="background: steelblue;
                                       color:white;"></td>
                            </td>
                            <td colspan="1"
                                align="right"
                                style="background: steelblue;
                                       color:white;"></td>
                            </td>
                        {%- endif -%}
                        <tr>

                    {%-endfor-%}
                    <td colspan="10">
                        <br/>
                    </td>
                    <tr/>

                {%-endfor-%}

            </table>
        </div>
        {%- endif -%}
    </div>










{%- endblock -%}




