<!DOCTYPE html>
<html lang="es">
<head>
	<title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jsFunctionsFrontEnd.js') }}"></script>
    <style type="text/css">
        .message{
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 14px;
            font-weight: bold;
            color:#ffffff;
            height: 100%;
            width: 100%;
            text-align: center;
            vertical-align: middle;
        }
    </style>
    {%-if data is defined -%}
    <script> responseData={{data|tojson|safe}} </script>
    {%-endif-%}
</head>
<body>
	<form id="updateArrayForm" action="/updateArray" method="Post">
        <center>
            <label class="message" id="message">{{message}}</label>
        </center>
        
        <div style="display:none;">
            <input class="roundInput" type="text" name="ownerID" id="ownerID" value="">
            <input class="roundInput" type="text" name="userName" id="userName" value="">
            <input class="roundInput" type="text" name="field" id="field" value="">
            <input class="roundInput" type="text" name="dataArray" id="dataArray" value="">
            <input class="roundInput" type="text" name="viewName" id="viewName" value="">
        </div>
	</form>  
</body>
</html>

 
